---
---

<footer class="site-footer" transition:name="footer" transition:animate="none">
  <div class="footer-illustration">
    <img src="/images/footer-light.png" alt="Hamnvik handelssted i vinterlandskap med dagslys" class="footer-img footer-img-light" width="1536" height="512" loading="lazy" />
    <img src="/images/footer-dark.png" alt="Hamnvik handelssted med nordlys" class="footer-img footer-img-dark" width="1536" height="512" loading="lazy" />
  </div>
  <div class="site-footer-content">
    <div class="site-footer-col">
      <p class="site-footer-label">Henvendelser</p>
      <p><a href="mailto:post@hamnvikhandelssted.com">post@hamnvikhandelssted.com</a></p>
      <p>Hamnvik, Ibestad kommune</p>
    </div>
    <div class="site-footer-col">
      <p class="site-footer-label">Hamnvik Handelssted</p>
      <p>Fredet handelssted &middot; Grunnlagt 1794</p>
      <p>Donseg&aring;rden, Hamnvik</p>
      <p>Ibestad kommune, Troms</p>
    </div>
    <div class="site-footer-col">
      <p class="site-footer-label">Se ogs&aring;</p>
      <p><a href="https://www.sorenskrivergarden.hamnvikhandelssted.com/Sorenskrivergarden/Ibestad_Ovre.html">Sorenskriverg&aring;rden<br/>Ibestad &Oslash;vre</a></p>
      <p><a href="https://www.facebook.com/groups/hamnvikhandelssted">Facebook</a></p>
      <p><a href="/referanser">Referanser</a></p>
    </div>
  </div>
  <div class="site-footer-bottom">
    <span>&copy; Hamnvik Handelssted &middot; Ibestad kommunes fotefarprosjekt</span>
  </div>
</footer>
