---
---

<footer class="paper-footer" transition:name="footer" transition:animate="none">
  <div class="paper-footer-rule"></div>
  <div class="paper-footer-content">
    <div class="paper-footer-col">
      <p class="paper-footer-label">Henvendelser</p>
      <p><a href="mailto:post@hamnvikhandelssted.com">post@hamnvikhandelssted.com</a></p>
      <p>Hamnvik, Ibestad kommune</p>
    </div>
    <div class="paper-footer-col paper-footer-center">
      <p class="paper-footer-label">Hamnvik Handelssted</p>
      <p>Fredet handelssted &middot; Grunnlagt 1794</p>
      <p>Donseg&aring;rden, Hamnvik</p>
      <p>Ibestad kommune, Troms</p>
    </div>
    <div class="paper-footer-col">
      <p class="paper-footer-label">Se ogs&aring;</p>
      <p><a href="http://www.sorenskrivergarden.hamnvikhandelssted.com/Sorenskrivergarden/Ibestad_Ovre.html">Sorenskriverg&aring;rden<br/>Ibestad &Oslash;vre</a></p>
    </div>
  </div>
  <div class="paper-footer-bottom">
    <span>&#10087;</span>
    <span>&copy; Hamnvik Handelssted &middot; Ibestad kommunes fotefarprosjekt</span>
    <span>&#10087;</span>
  </div>
</footer>
